Source: ec
Section: base
Priority: optional
Maintainer: Ariel Tubaltzev
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Package: ec
Architecture: any
Description: System configuration package
Package: ec-doc
Architecture: all
Description: documentation for ec

